[user]
	email = b.libert@ideematic.com
	name = Brice
[alias]
	ci = commit
	co = checkout
  st = status
  ps = push
  pl = pull
  mg = merge
  sw = switch -c
  ffs = flow feature start
  fff = flow feature finish
